[Desktop Entry]
Name=WMDE Files
Comment=File manager for the COSMIC desktop
Exec=wmde-files %U
Terminal=false
Type=Application
StartupNotify=true
Icon=fun.wmde.files
Categories=COSMIC;Utility;FileManager;
Keywords=Folder;Manager;
MimeType=inode/directory;
